# Python
__pycache__/
*.pyc

# Virtual env
venv/

# Environment variables
.env

# Model & training artifacts
finetuned_e5_large/
results/
results_test/
results_category/
logs/
logs_category/

# Large data files
products_all.csv

# OS
.DS_Store
